{% extends 'Members/base.html'%}

{% block content %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Loan Amount</th>
      <th scope="col">Borrow Date</th>
      <th scope="col">Amount Repaid</th>
      <th scope="col">paid Interest</th>
      <th scope="col">Unpaid Interest</th>
      <th scope="col">Owing</th>


    </tr>
  </thead>
  <tbody>
      {% for member in MembersActiveLoans %}
    <tr>
      <td>{{ member.0 }}</td>
      <td>{{ member.1}}</td>
      <td>{{ member.2}}</td>
      <td>{{ member.5|date:"F d, Y"}}</td>
      <td>{{ member.3}}</td>
      <td>{{ member.7}}</td>
      <td>{{ member.6}}</td>
      <td>{{ member.4}}</td>
      

    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock content %}
